.row {
  height: 52px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-sm-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switchBox {
  max-width: 40px;
}

.switch {
  width: 0px;
}